.headbar {
  background: #4A5463;
  width: 100%;
  height: 4rem;
  font-family: "SF Pro", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
    border-bottom:  #69A18F 1px solid;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0px;
  display: flex;
  flex-direction: row-reverse;
}

.headbar a:hover {
  color: white;
}
.headbar ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.headbar li {
  display: flex;
}

.headbar a {
  color: #69A18F;
  text-decoration: none;
  margin-right: 1.3rem;
}

/* .headbar span { */
  /* font-weight: bold; */
  /* color: yellow; */
/* } */
